<h3><i class="fas fa-book-reader"></i> StoryHub</h3>
<div class="section">
 <p class="lead">Create public and private stories from your life</p>
</div>
<div class="divider"></div>
{{!-- <form>
 <div class="section">
  <label>Username : </label>
  <input type="text" placeholder="Enter Username" name="username" required>
  <label>Password : </label>
  <input type="password" placeholder="Enter Password" name="password" required>
  <button type="submit">Login</button>
  <input type="checkbox" checked="checked"> Remember me
  <button type="button" class="cancelbtn"> Cancel</button>
  Forgot <a href="#"> password? </a>
 </div>
</form> --}}

<div class="sign-up-form">
 <h1>Sign Up Now</h1>
 <form action="">
  <input type="email" class="input-box" placeholder="Your Email">
  <input type="password" class="input-box" placeholder="Your Password">
  <p>I agree to the terms of services</p>
 </form>
</div>
<div class="section">
 <a href="/auth/google" class="btn blue darken-1">
  <i class="fab fa-google left"></i> Log In With Google
 </a>
</div>